.one {
    padding: 10px;
    border: 3px solid red;
    margin: 0px;
    box-sizing: border-box;
    height: 300px;
    width: 49%;
    display: inline-block;
}

#first {
    /* display: none; */
    /* visibility: hidden; */
}

div:last-of-type:hover {
    background: blue;
}

/* html,
body {
    height: 100%;
} */

/* #first {
    height: 100%;
    box-sizing: border-box;
    height: 300px;
    width: 50%;
}   */


/* .tow {

    border: 3px solid black;
}

.tow:hover {
    color: blue;
    background: red;
} */

/* body {
    box-sizing: border-box;

}

div {
    display: inline-block;

    text-align: center;
} */