* {
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;

}

#product-over {
    background: url(./img/freedom.jpg);
    width: 100%;
    height: 528px;
    padding: 10px;

}

.section-title {
    color: #2ddf5c;

}

#product-over h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}


h1 {
    font-family: sans-serif;
}

.main-header {
    background: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 100px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.main-nav_item--cta a {
    color: white;
    background: #ff0000;
    padding: 8px 16px;
    border-radius: 9px;
}

.main-nav_item--cta a:hover,
.main-nav_item--cta a:active {
    color: #ff0000;
    background: white;
    border: none;
}

.section-title {
    text-align: center;
}

.head {
    margin-top: 50px;
    display: flex;
    margin-bottom: 45px;
}

.free {
    background: #2ddf5c;
    display: inline-block;
    width: 450px;
    height: 480px;
    padding: 5px;
    margin-right: 40px;
    margin-left: 40px;
    /* padding-left: 10px; */
    text-align: center;
    margin-top: 45px;

}

.free li {
    list-style: none;

}

.recommend {
    background: #206934;
    display: inline-block;
    width: 450px;
    height: 550px;
    padding: 5px;
    margin-right: 40px;
    text-align: center;
    margin-bottom: 25px;
}


.title-recom {
    padding: 5px;
    background: white;
    display: inline-block;
    border-radius: 15px;
    color: #206934;
    box-shadow: 8px 8px black;
}

.ofer-recom li {
    list-style: none;
    color: white;
}

.wiat {
    color: white;
}

.premium {
    background: #2ddf5c;
    display: inline-block;
    width: 450px;
    height: 480px;
    padding: 5px;
    text-align: center;
    margin-top: 45px;
    margin-right: 20px;
}

.ofer-prem li {
    list-style: none;
}

.btn {
    background: black;
    color: white;
    font-weight: bold;

    border-radius: 15px;
    padding: 8px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: #193ee2;
    color: white;
}

.container {
    padding: 2px 16px;
}

.rounded {
    width: 100%;
    height: 500px;
    background: #ff0000;
    /* display: block; */
    padding: 10px;
}

.grupp {
    margin-top: 100px;
    display: inline-flex;
    align-items: center;
}

.circl {

    display: inline-flex;
}

.circle {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 180px;

}

.data {
    padding-top: 50px;
    display: inline-block;
}

.many {
    text-align: center;
    color: white;

}